
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: none;
    background-color: aqua;
}

body{
    margin: 0px;
    padding: 0px;
}

.hero{
    display: block;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding: 30px 20px 30px 8px;
  
}

.image{
    margin-bottom: 100px;
}

.hello{
    margin-bottom: 50px;

}

.hello  a{
    padding: 10px;
    line-height: 60px;
    height: 60px;
    min-width: 60px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;

}