body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-columns: 18rem auto 18rem;
}

.left {
  height: 640px;
  width: 15px;
}

.col1 {
  display: flex;
  justify-content: space-evenly;
  height: 105px;
  width: 280px;
  background-color: #214162;
}

.col2 img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.col3 h1 {
  color: #fff;
}

.col3 a {
  text-decoration: none;
  color: #1ed085;
  font-size: 24px;
  font-weight: 600;
}

.col4 {
  height: 62px;
  width: 280px;
  background-color: #15283c;
  margin-top: -24px;
  border-bottom: 2px solid #ff5722;
}

.col4 h1 {
  margin-left: 50px;
}

.col5 {
  height: 541px;
  width: 280px;
  margin-top: -15px;
  background-color: #15283c;
}

.col5 ul {
  text-align: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.col5:hover {
  border-right: 5px solid #ff5722;
}

.col5 ul a {
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  text-decoration: none;
  margin-top: 15px;
  color: #fff;
}

.col5 a i {
  text-align: left;
  width: 50px;
}

.start1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  height: 30%;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.start1 input {
  width: 400px;
  height: 18px;
  border-color: black;
  border-radius: 10px;
  margin-left: 24px;
}

.grid1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin-top: 40px;
}

.sell1 {
  background-color: red;
  background-image: linear-gradient(180deg, #ff8776 0%, #ff6a88 55%, #ff2a51 100%);
}

.sell2 {
  background-color: red;
  background-image: linear-gradient(180deg, #8fd3f4 0%, #78a8f8 55%, #5684f7 100%);
}

.sell3 {
  background-color: brown;
  background-image: linear-gradient(180deg, #ee9af7 0%, #c075f1 55%, #8c52ef);
}

.detail {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.mid h1 {
  font-size: 18px;
  color: brown;
}

.detail h4 {
  font-size: 15px;
  font-weight: 600;
}

.detail a {
  background-color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  margin-bottom: 18px;
  font-size: 10px;
  font-weight: 600;
  width: 10px;
  height: 18px;
}

.detail a:hover {
  background-color: blue;
  color: #fff;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;
}

.row {
  margin-top: 50px;
}

.third {
  display: grid;
  grid-template-columns: auto auto;
}

.image img {
  width: 100%;
  height: 80%;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.end1 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  text-align: center;
  background-color: #ff8776;
  margin-top: 50px;
}

.end4 img {
  border-radius: 50%;
}

.blue {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  background-color: #8fd3f4;
}

.row4 {
  margin-top: 10px;
}

.row5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  justify-self: center;
}

.row6 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-color: #ff2a51;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

.row6 h1 {
  font-size: 15px;
}

.row6 h2 {
  font-size: 10px;
}

.row6:hover {
  transition: 1 ease;
}/*# sourceMappingURL=index.css.map */